@import '../../node_modules/sanitize.css/sanitize';

@keyframes BackgroundGradient {
    0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes FontColor {
    0%{
        color: #FFF;
    }
    50%{
        color: #000;
    }
    100%{
        color: #FFF;
    }
}

$formSize: 80px;
* 
{
    margin: 0; padding: 0; box-sizing: border-box;
}
body
{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    header
    {
        width: 100%;
        img
        {
            width: 70%;
            margin: 0 15%;
        }
    }

    main
    {
        form
        {
            display: flex;
            width: 70%;
            margin: 0 15%;
            .search__input
            {
                height: $formSize;
                border-color: hotpink;
                border-width: 0px;
                flex-grow: 1;
                padding-left: 20px;
                transition: all .75s ease-in-out;
                min-width: 0px;
                &:focus{
                    border-width: 10px;
                    background-image: none;
                }
                background: linear-gradient(-90deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
                background-size: 200% 200%;
                color: #fff;
                animation: BackgroundGradient 5s ease infinite;
            }
            .search__button
            {
                min-width: $formSize;
                border: none;
                flex-grow: .1;
                background: linear-gradient(90deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
                background-size: 200% 200%;
                animation: BackgroundGradient 5s ease infinite;
            }
        }
    }
    footer.footer
    {
        p{
            text-align: center;
        }
        
    }
}